/* STYLING FOR THE HOME PAGE */

body {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background: scroll;
  background-image: url(/assets/background.png);
}

span {
  color: var(--Subtitle, #777);
}

/* STYLING FOR THE NAV-MENU */
/* Below are the css styling of the Navigation menu */
